<a href="https://colab.research.google.com/github/fsendo/PythonPandas/blob/main/Primeiro_exemplo_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
compras_df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
display( compras_df)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [14]:
display(compras_df.head())

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [16]:
display(compras_df.tail(10))

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
#@title Texto de título padrão
print(compras_df.shape)
print(compras_df.shape[0])
print(compras_df.shape[1])
print(compras_df.info())

In [28]:
display(compras_df.loc[100:119])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
100,-115.59,32.79,8.0,2183.0,307.0,1000.0,287.0,6.3814,159900.0
101,-115.59,32.69,30.0,935.0,177.0,649.0,148.0,2.5769,94400.0
102,-115.60,33.20,37.0,709.0,187.0,390.0,142.0,2.4511,72500.0
103,-115.60,32.87,3.0,1629.0,317.0,1005.0,312.0,4.1293,83200.0
104,-115.62,33.04,20.0,1121.0,244.0,766.0,230.0,2.2969,62000.0
105,-115.62,33.04,17.0,1009.0,231.0,745.0,217.0,2.0463,61200.0
106,-115.64,32.80,23.0,1228.0,235.0,569.0,235.0,3.1667,125000.0
107,-115.69,32.79,18.0,1564.0,340.0,1161.0,343.0,2.1792,55200.0
108,-115.72,32.75,16.0,348.0,99.0,123.0,54.0,2.0938,87500.0
109,-115.73,33.36,19.0,749.0,238.0,476.0,169.0,1.7727,50000.0
110,-115.73,33.35,23.0,1586.0,448.0,338.0,182.0,1.2132,30000.0
111,-115.73,33.09,27.0,452.0,103.0,258.0,61.0,2.9000,87500.0
112,-115.73,32.80,44.0,472.0,81.0,206.0,57.0,2.2083,93800.0
113,-115.80,33.26,2.0,96.0,18.0,30.0,16.0,5.3374,47500.0
114,-115.84,33.49,20.0,1660.0,379.0,637.0,250.0,2.0347,68900.0
115,-115.85,34.20,34.0,3868.0,1257.0,890.0,423.0,1.3571,41000.0
116,-115.88,32.93,15.0,208.0,49.0,51.0,20.0,4.0208,32500.0
117,-115.90,33.34,19.0,1210.0,248.0,329.0,155.0,1.7857,62800.0
118,-115.91,33.36,15.0,459.0,95.0,160.0,73.0,0.9220,67500.0
119,-115.93,35.55,18.0,1321.0,272.0,754.0,226.0,3.4028,67500.0

In [30]:
display(compras_df['median_house_value'].max())

500001.0

In [32]:
display(compras_df['median_house_value'].mean())

207300.91235294117