<a href="https://colab.research.google.com/github/fsendo/PythonPandas/blob/main/Primeiro_exemplo_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
compras_df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
display( compras_df)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [14]:
display(compras_df.head())

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [16]:
display(compras_df.tail(10))

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16990,-124.22,41.73,28.0,3003.0,699.0,1530.0,653.0,1.7038,78300.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16993,-124.23,40.54,52.0,2694.0,453.0,1152.0,435.0,3.0806,106700.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
#@title Texto de título padrão
print(compras_df.shape)
print(compras_df.shape[0])
print(compras_df.shape[1])
print(compras_df.info())

In [28]:
display(compras_df.loc[100:119])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
100,-115.59,32.79,8.0,2183.0,307.0,1000.0,287.0,6.3814,159900.0
101,-115.59,32.69,30.0,935.0,177.0,649.0,148.0,2.5769,94400.0
102,-115.60,33.20,37.0,709.0,187.0,390.0,142.0,2.4511,72500.0
103,-115.60,32.87,3.0,1629.0,317.0,1005.0,312.0,4.1293,83200.0
104,-115.62,33.04,20.0,1121.0,244.0,766.0,230.0,2.2969,62000.0
105,-115.62,33.04,17.0,1009.0,231.0,745.0,217.0,2.0463,61200.0
106,-115.64,32.80,23.0,1228.0,235.0,569.0,235.0,3.1667,125000.0
107,-115.69,32.79,18.0,1564.0,340.0,1161.0,343.0,2.1792,55200.0
108,-115.72,32.75,16.0,348.0,99.0,123.0,54.0,2.0938,87500.0
109,-115.73,33.36,19.0,749.0,238.0,476.0,169.0,1.7727,50000.0
110,-115.73,33.35,23.0,1586.0,448.0,338.0,182.0,1.2132,30000.0
111,-115.73,33.09,27.0,452.0,103.0,258.0,61.0,2.9000,87500.0
112,-115.73,32.80,44.0,472.0,81.0,206.0,57.0,2.2083,93800.0
113,-115.80,33.26,2.0,96.0,18.0,30.0,16.0,5.3374,47500.0
114,-115.84,33.49,20.0,1660.0,379.0,637.0,250.0,2.0347,68900.0
115,-115.85,34.20,34.0,3868.0,1257.0,890.0,423.0,1.3571,41000.0
116,-115.88,32.93,15.0,208.0,49.0,51.0,20.0,4.0208,32500.0
117,-115.90,33.34,19.0,1210.0,248.0,329.0,155.0,1.7857,62800.0
118,-115.91,33.36,15.0,459.0,95.0,160.0,73.0,0.9220,67500.0
119,-115.93,35.55,18.0,1321.0,272.0,754.0,226.0,3.4028,67500.0

In [30]:
display(compras_df['median_house_value'].max())

500001.0

In [32]:
display(compras_df['median_house_value'].mean())

207300.91235294117

In [35]:
pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.8/dist-packages (from pandasql) (1.4.46)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26787 sha256=e5df9d709398747cf9c56d16dd6a7ffaac1d30334ef42ae77b1404a604f5ec1d
  Stored in directory: /root/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [36]:
from pandasql import sqldf

In [64]:
sqldf("select housing_median_age, count(1), min(median_house_value), max(median_house_value), avg(median_house_value) from compras_df  where housing_median_age<10 group by housing_median_age " )

,housing_median_age,count(1),min(median_house_value),max(median_house_value),avg(median_house_value)
0,1.0,2,189200.0,191300.0,190250.000000
1,2.0,49,47500.0,500001.0,229438.836735
2,3.0,46,83200.0,500001.0,239450.043478
3,4.0,161,42500.0,500001.0,230054.105590
4,5.0,199,50000.0,500001.0,211035.708543
5,6.0,129,58000.0,500001.0,206768.240310
6,7.0,151,56200.0,500001.0,188445.059603
7,8.0,178,22500.0,500001.0,190805.073034
8,9.0,172,54200.0,500001.0,190306.994186

In [71]:
compras_df[['housing_median_age', 'median_house_value']].groupby(by="housing_median_age").mean()

                    median_house_value
housing_median_age
1.0                      190250.000000
2.0                      229438.836735
3.0                      239450.043478
4.0                      230054.105590
5.0                      211035.708543
6.0                      206768.240310
7.0                      188445.059603
8.0                      190805.073034
9.0                      190306.994186
10.0                     178416.393805
11.0                     182480.312500
12.0                     181590.640625
13.0                     188065.473896
14.0                     191181.288184
15.0                     181031.024038
16.0                     200354.507087
17.0                     191772.244792
18.0                     192074.715481
19.0                     196017.752427
20.0                     192681.751958
21.0                     200918.536193
22.0                     213129.173375
23.0                     204621.787958
24.0                     207293.365039
25.0                     223097.223427
26.0                     206773.793241
27.0                     206728.259446
28.0                     210049.812500
29.0                     195185.863636
30.0                     201559.145833
31.0                     208319.851562
32.0                     207131.500000
33.0                     203922.269006
34.0                     213061.615520
35.0                     205624.462428
36.0                     208262.422378
37.0                     209008.299771
38.0                     195272.371069
39.0                     206718.913907
40.0                     205783.594378
41.0                     197328.935345
42.0                     199635.110390
43.0                     194365.779720
44.0                     214909.506757
45.0                     223464.744681
46.0                     198036.260204
47.0                     190064.611429
48.0                     224665.251852
49.0                     220667.612613
50.0                     222513.482143
51.0                     244850.125000
52.0                     277368.200570

In [ ]:
compras_df.[housing_median_age, median_house_value].groupby(housing_median_ag)

AttributeError: ignored